nav {
  background: #1db954;
  padding: 15px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card {
  background: #1e1e1e;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 10px;
}
