* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0e0e0e;
  color: #fff;
}

/* NAV */
nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 18px;
  background: #121212;
  border-bottom: 1px solid #1db954;
}

nav a {
  color: #ccc;
  text-decoration: none;
  font-weight: 600;
}

nav a:hover {
  color: #1db954;
}

/* HEADINGS */
h1 {
  text-align: center;
  margin: 30px 0;
  color: #1db954;
}

/* SEARCH */
.search-box {
  text-align: center;
  margin-bottom: 30px;
}

.search-box input {
  padding: 12px;
  width: 280px;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* GRID */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 30px;
  max-width: 1100px;
  margin: auto;
}

/* CARD */
.card {
  background: #181818;
  padding: 20px;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card h3 {
  color: #1db954;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #1db954;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  opacity: 0.6;
}
